<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Basketball Playbook</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ko-protected-observable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ajax-util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ko-execute-on-enter.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
        });
    </script>
</head>
<body>
    <header>
        <div class="shell">
		    <div id="top">
			    <h1><a href="#">Basketball Playbook</a></h1>
			    <div id="top-navigation">
				    Welcome <a href="#"><strong>Administrator</strong></a>
				    <span>|</span>
				    <a href="#">Log out</a>
			    </div>
		    </div>
		
            <nav>
			    <ul>
			        <li><a href="#" class="active"><span>Drills</span></a></li>
			        <li><a href="#"><span>Practices</span></a></li>
			    </ul>
            </nav>
	    </div>
    </header>

    <div id="container">
		<div id="main">
            @RenderBody()
		</div>
    </div>

    <footer>
	    <div class="shell">
		    <span class="right">
			    Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
		    </span>
	    </div>
    </footer>	
</body>
</html>